<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://myfriends.com/ios/myfriendsroom.ipa</string>
		<key>displayImageURL</key>
		<string>https://test.com/test.png</string>
		<key>fullSizeImageURL</key>
		<string>https://test.com/test.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.myfriendsroomlimited</key>
		<string>MyFriendsRoomProvisioningProfile1</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>QMJ6S9Q3D8</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
