<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyFriendsRoom.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
				<key>dateExpires</key>
				<string>16/10/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Font_Awesome_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6BB9AD49A34826AF8BC3C945F0683DCBA3D3AC0</string>
						<key>dateExpires</key>
						<string>16/10/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QMJ6S9Q3D8</string>
						<key>name</key>
						<string>My Friends Room Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QMJ6S9Q3D8.com.myfriendsroomlimited</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QMJ6S9Q3D8</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MyFriendsRoom.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8abf10bf-345e-4a1b-b78b-41f73c1ce556</string>
				<key>name</key>
				<string>MyFriendsRoomProvisioningProfile1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QMJ6S9Q3D8</string>
				<key>name</key>
				<string>My Friends Room Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
